#nav-avatar
  float:left;
  left:0
  width:45px
  margin-left:20px;
#nav-title
  float:left;
  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  color:#2c3e50
  text-decoration:none
  font-size:2em
  margin-left:20px;
