#header
   text-align:center;
   height:100%;
   min-height:720px;
   position:relative;

#banner
{
  height:640px;
  width:100%;
  position:absolute;
  top:50%;
  margin-top:-340px;
  left:0;
}


#header-inner
  width:100%
  position: absolute
  left:0



#avatar
  width:200px
  height:200px
  display :block
  margin:0 auto

#header-title
  text-align: center
  height: logo-size
  position: absolute
  top: 40%
  left: 0
  margin-top: logo-size * -0.5

$logo-text
  text-decoration: none
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3)

#logo
  @extend $logo-text
  font-family: 'Dosis', 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 4em;
  margin: 0;
  color:#2c3e50

#subtitle
  @extend $logo-text
  font-size: subtitle-size
  line-height: subtitle-size
  color:#2c3e50
  letter-spacing: 1px

#subtitle-wrap
  margin-top: subtitle-size

#main-nav
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin:20px 0px;
  display:block;

#main-nav li{
  display: inline-block;
  position: relative;
  line-height: 40px;
}


$nav-link
  float: left
  color: #2c3e50
  opacity: 0.6
  text-decoration: none
  text-shadow: 0 1px rgba(0, 0, 0, 0.2)
  transition: opacity 0.2s
  display: block
  padding: 0px 15px
  &:hover
    opacity: 1
    border-bottom:2px solid #eee;

.nav-icon
  @extend $nav-link
  font-family: font-icon
  text-align: center
  font-size: font-size
  width: font-size
  height: font-size
  padding: 20px 15px
  position: relative
  cursor: pointer

.main-nav-link
  @extend $nav-link
  font-weight: 300
  letter-spacing: 1px
  @media mq-mobile
    display: none

.down
  position: absolute;
  bottom: 0;
  width: 40px;
  left:50%;
  margin-left:-20px;
  padding: 1.5em 0;
  background:url(down-url)
  background-repeat :no-repeat
#social
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;

#social li
  display: inline-block;
  position: relative;
  margin:0 5px;


.zhihu
  background:url(zhihu)
  width:36px;
  height:36px;

.facebook
  background:url(facebook)
  width:36px;
  height:36px;


.github
  background:url(github)
  width:36px;
  height:36px;

.linkedin
  background:url(linkedin)
  width:36px;
  height:36px;